body {font-size: 
    35px;}

button {
    margin: 15px;
    width: 90px;
    height: 25px;
    background: skyblue;
    border-radius: 6px;
}

button:hover {
    background: -webkit-linear-gradient(#6494bc, #0cd1df);
    color: white;
}

.real img {
    margin-left: 810px;
    margin-top: -664px;
    margin-bottom: 268px;
    width: 410px;
    height: 426px;
    
}
.alone input, select {
    margin: 4px;
    width: 290px;
    padding: 3px;
    margin-left: 100px;
    margin-top: 1px;
    margin-bottom: 10px;
    border: none;  /* Remove border */
    border-bottom: 2.5px solid black;  /* Add a bottom border */
    font-size: 19px;
    font-weight: 200;
    outline: none;  /* Remove the default focus border */
    background: transparent;  /* Remove background */
}


.nutella img{
    margin-left: 621px;
    margin-bottom: -320px;
    margin-top: -350px;
    height: 236px;
    width: 236px;
    

}


.kelly img{
    margin-left: 621px;
    margin-bottom: -320px;
    margin-top: -350px;
    height: 236px;
    width: 236px;
    

}
.back, p{
    margin-left: 100px;
    margin-top: -18px;
    font-size: 19px;

}

.Dan, h4{
    margin-left: 100px;
    margin-top: 1px;

}
.center, p{

}
.register-link {
    background: linear-gradient(to right, #800080, #ff0080);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
}

